.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 320px;
  border-radius: 6px;
  background-color: rgba(200, 200, 200, 0.6);
}

.input {
  height: 24px;
  margin: 8px;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
  min-width: 380px;
  background-color: rgba(255, 255, 255, 0.6);
}

.btnValidate {
  padding: 12px 60px;
  border-radius: 8px;
  font-family: "Roboto", sens-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(1, 15, 27, 0.781);
  color: #fff;
  margin: auto 6px;
}

.btnCancel {
  padding: 12px 60px;
  border-radius: 8px;
  font-family: "Roboto", sens-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(255, 15, 27, 0.781);
  color: #fff;
  margin: auto 6px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  font-weight: 400;
}

.label {
  padding-top: 8px;
  min-width: 380px;
  text-align: left;
  font-size: 12px;
  color: rgb(1, 15, 27);
}
