.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 64px;
  margin-bottom: 64px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 15% auto 15%;
}

.btnGroup1 {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.btnGroup2 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.btn {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 80px 8px auto 8px;
  padding: 12px 16px;
  background-color: #373737;
  box-shadow: 3px gray;
  cursor: pointer;
}

.btnRemoveComp,
.btnAddComp {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 80px 12px 0 12px;
  padding: 8px;
  transform: scale(1.3);
  text-align: center;
  background-color: #373737;
  box-shadow: 3px gray;
  cursor: pointer;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.select {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 80px 8px auto 8px;
  padding: 10px 14px;
  background-color: #373737;
  box-shadow: 3px gray;
}

@media screen and (max-width: 982px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 15% auto 15%;
  }
  .btn,
  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 8px 0 8px;
  }
  .btnGroup1 {
    width: 100%;
    margin: 80px 8px 0 8px;
  }
  .btnGroup2 {
    margin: 20px 8px auto 8px;
  }
  .btnRemoveComp,
  .btnAddComp {
    margin: 2px 8px auto 8px;
  }
}
