.progressBarMainContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin: auto 15% auto 15%;
  padding-top: 24px;
}

.progressBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}

.label {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.progression {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 80px;
}

.bar {
  background-color: #373737;
  width: calc(100% - 80px);
  height: 15px;
  box-shadow: 3px gray;
}
